<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/style4.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <nav class="menu-prof">
        <ul>
            <h1 class="h1-logo">Jogo Passa ou Repassa Web</h1>
            <li>
                <a href="">Professor(a) | Disciplina</a>
            </li>
            <a href="index.html">
                <button id="sair" class="btn btn-sair-principal">Sair</button>
            </a>
        </ul>
    </nav>
    <div class="container">
        <div id="questions_reject">
            <h1>Questões Rejeitadas</h1>
        </div>
        <div class="primeira-coluna">
            <h1 class="desc3">Aceitar ou Recusar Questão do Aluno(a)</h1>
            <p style="margin-top: 15px;" class="des">Aqui você deve aceitar ou recusar as questões </p>
            <p class="des">feito pelos alunos para ser apresentado no jogo. </p>
            <div style="text-align: center;" class="text-desc">

              <div class="inject">
                  <h1 class="h1-titulo">Aluno(a):</h1>
            </div>  
            <div class="inject">
                <h1 class="h1-titulo">Título:</h1>
            </div>

            <div class="inject">
                <h1 class="h1-titulo">Resposta 1: </h1>  
            </div>
            <div class="inject">
                <h1 class="h1-titulo">Resposta 2: </h1>       
            </div>
            <div class="inject">
                <h1 class="h1-titulo">Resposta 3: </h1>     
            </div>
                           
            </div>
        </div>
        <div id="approve_questions">
            <h1>Questões Aprovadas</h1>
        </div>
    </div>
    <div class="btn-baixo">
 
            <button class="btn-voltar-atividade" id="refuse">Recusar</button>
                <a href="atividade1.html">
                    <button class="btn-salvar-questao" id="back">Voltar</button>
                </a>
            <button class="btn-salvar-questao" id="save">Aceitar</button>
        
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../public/js/accept_or_refuse.js" type="module"></script>
</body>
</html>