<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style6.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <nav class="menu-prof">
        <ul>
            <h1 class="h1-logo">Jogo Passa ou Repassa Web</h1>
            <li>
                <a href="">Professor(a) | Disciplina</a>
            </li>
            <a href="index.html">
                <button id="sair" class="btn btn-sair-principal">Sair</button>
            </a>
        </ul>
    </nav>
    <div class="container">
        <div class="primeira-coluna">
            <h1 class="desc3">Ajuda</h1>
            <p style="margin-top: 15px;" class="des">Aqui você deve pedir ajuda para uma das opções </p>
            <div style="display: grid; justify-content: center; margin-top: 76px;">
                <button  class="btn-prof">Professor</button>
                <button style="margin-top: 20px;" class="btn-grupo">Grupo</button>
                <button style="margin-top: 20px;" class="btn-anular">Anular</button>
            </div>
        </div>
    </div>
    <div class="btn-baixo">
        <a href="index5.html">
            <button class="btn-voltar-atividade">voltar</button>
        </a>
        <button class="btn-salvar-questao">Salvar</button>
    </div>
    <script src="../public/css/style7.css" type="module"></script>
</div>
</body>
</html>