<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/style5.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <nav class="menu-prof">
        <ul>
            <h1 class="h1-logo">Jogo Passa ou Repassa Web</h1>
            <li>
                <a href="">Aluno(a) | Disciplina</a>
            </li>
            <a href="index.html">
                <button id="sair" class="btn btn-sair-principal">Sair</button>
            </a>
        </ul>
    </nav>
    <div class="container">
            <div class="primeira-coluna">
                <h1 class="titulo-p">Pontuação do Grupo <em> 1 </em></h1>
                <div class="box-1">
                    <div class="acertos-1">
                        <h1 class="titulo-acerto">Acertos</h1>
                        <div class="box-4">
                            <span id="correct_1" name="correct_1" class="num-acertos">0</span>
                        </div>
                    </div>
                    <div class="erros-1">
                        <h1 class="titulo-erros">Erros </h1>
                        <div class="box-4">
                            <span id="erro_1" name="error_1" class="num-erros">0</span>
                        </div>
                    </div>
                </div>
                <div class="pontuacao-equipe-2">
                    <h1 class="titulo-p">Pontuação do Grupo <em> 2 </em></h1>
                    <div class="box-1">
                        <div class="acertos-2">
                            <h1 class="titulo-acerto">Acertos</h1>
                            <div class="box-4">
                                <span id="correct_2" name="correct_2" class="num-acertos">0</span>
                            </div>
                        </div>
                        <div class="erros-2">
                            <h1 class="titulo-erros">Erros </h1>
                            <div class="box-4">
                                <span id="erro_2" name="error_2" class="num-erros">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: grid;">
                <h1 style="text-align: center; margin-bottom: 20px;">Grupo a jogar: <span name="group_game" id="group_game"> Grupo 1 </span></h1>
                <div class="segunda-coluna-h">
                    <div class="nome-aluno">
                        <h1 style="text-align: center; margin-top: 10px;"><span id="student_nome">teste nome</span></h1>
                    </div>
                    <div class="cronometro">
                        <h1 style="text-align: center; margin-top: 10px;"><span><span name='cronometro' id="time"></span> sec</span></h1>
                    </div>
                    <div class="assunto">
                        <h1 style="text-align: center; margin-top: 10px;"><span class="subject">teste assunto</span></h1>
                    </div>
                </div>
                <h1 style="text-align: center; margin-top: 7px;" class="titulo-resposta">Título</h1>
                <div class="terceira-coluna">
                    <div class="titulo-questao">
                        <h1 style="text-align: start; margin-top: 10px; margin-left: 20px;"><span id='title_question' name="title"></span></h1>
                    </div>
                </div>
                <h1 style="text-align: center; margin-bottom: -10px;" class="titulo-resposta">Respostas</h1>
                <div class="quarta-coluna">
                    <div class="respostas">
                        <h1 style="text-align: center; margin-top: 10px;"><span id="resposta1" name="resp1"></span></h1>
                    </div>
                    <div class="respostas">
                        <h1 style="text-align: center; margin-top: 10px;"><span  id="resposta2" name="resp2"></span></h1>
                    </div>
                    <div class="respostas">
                        <h1 style="text-align: center; margin-top: 10px;"><span  id="resposta3" name="resp3"></span></h1>
                    </div>
                </div>
                <div class="ajuda-passar">
                <a href="ajuda.html">
                    <button class=" btn btn-ajuda" id="help" name="help">Ajuda! </button>
                </a>
                    <button id="responser" class=" btn btn-responder" name='resp'>Responder <p style="margin-top: 5px; font-weight: normal;">(Espaço)</p> </button>
                    <button id="passar" class=" btn btn-passar" name="pass">Passar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

const data = JSON.parse(localStorage.getItem('full_data'))
const api = axios.create({
    baseURL: 'http://localhost:5000'
})

async function main(){
    localStorage.setItem('group', 'group_2')
    var index = 0;
    const response = await api.post(`/group/code`,{code:data.code})
    const questions = await api.get(`/questions/getall/${data.activity_id}`)

   var questions_separete =   define_questions_in_groups(questions, response)
    const elements = get_elements_in_dom()
    start_game(1, elements, questions_separete, index)
    function end_game(){

    }
}
main()

function define_questions_in_groups(questions, response){

    var questions_group_1 = []
    var questions_group_2 = []
    questions_group_1.push({
        activitye_key: 14,
        answer_1: "'2'",
        answer_2: "'3'",
        answer_3: "'4'",
        aprrove_status: 0,
        auhor_id: 2,
        author_name: "'carlos'",
        correct: 1,
        id: 1,
        question: "'E serio'"
    })
    questions.data.forEach(element => {
        response.data.forEach(el => {

            if(el.id === element.auhor_id){
                if(el.group === 2){
                questions_group_2.push(element)
                }
                if(el.group === 1){
                    questions_group_1.push(element)
                }
            }
        })
    });
   return {
        group_1: questions_group_1,
        group_2: questions_group_2
    }
}

async function start_game(group=1, obj, questions){
   start_question(obj, questions)
}

function start_question(obj, questions, index=0,  group=localStorage.getItem('group')){

    if(localStorage.getItem('group') === 'group_1'){
        render_static(group_game, 'Grupo 2')
    }
     i = index
    const {title, cronometro, resp, resp1, resp2, resp3, pass} = obj;
    const {question, answer_1, answer_2, answer_3,correct} = questions[group][i]
     render_static(title, question)
    render_static(resp1, answer_1)
    render_static(resp2, answer_2)
    render_static(resp3, answer_3)

    resp1.addEventListener('click', (e) => {set_response(e, resp1, resp2, resp3)})
    resp2.addEventListener('click', (e) => {set_response(e, resp1, resp2, resp3)})
    resp3.addEventListener('click', (e) => {set_response(e, resp1, resp2, resp3)})
    resp.addEventListener('click', () => {

       if(resp1.classList.contains('check') && correct === 1){
            if(localStorage.getItem('group') === 'group_2'){
                if(correct === 1){
                   var temp = parseInt( obj.correct_1.innerHTML)
                    render_static(obj.correct_1, temp+10)
                }else{
                    var temp = parseInt( obj.correct_2.innerHTML)
                    render_static(obj.correct_1, temp+10)
                }
            }   
        }
       if(resp2.classList.contains('check') && correct === 2){
        if(localStorage.getItem('group') === 'group_2'){
                if(correct === 2){
                   var temp = parseInt( obj.correct_1.innerHTML)
                    render_static(obj.correct_1, temp+10)
                }else{
                    var temp = parseInt( obj.correct_2.innerHTML)
                    render_static(obj.correct_1, temp+10)
                }
            }  
        }
       if(resp1.classList.contains('check') && correct === 3){
        if(correct === 2){
            var temp = parseInt( obj.correct_1.innerHTML)
            render_static(obj.correct_1, temp+10)
        }else{
            var temp = parseInt( obj.correct_2.innerHTML)
            render_static(obj.correct_1, temp+10)
            }
        }else{
            if(localStorage.getItem('group') === 'group_2'){
                
                var temp = parseInt(obj.error_1.innerHTML)
                render_static(obj.error_1, temp - 5 )

            }else{

                var temp = parseInt( obj.correct_1.innerHTML)
                render_static(obj.error_2, )
            
            }
        }

        clearInterval(myInterval)

        if(i < questions[group].length -1){
            
            start_question(obj, questions, ++i)

        }if(i >= questions[group].length -1){
            localStorage.setItem('group', 'group_1')
            start_question(obj, questions, 0)
        }
    })
    
    var time = 15
    var myInterval = setInterval(() => {
        render_static(cronometro, time)
       time--
       if(time === -1){
           clearInterval(myInterval)
       }
    },1000)
    if(myInterval === 0){
        return 'fim'
    }
}

function set_response(event, resp1,resp2,resp3){
    resp1.classList.remove('check')
    resp2.classList.remove('check')
    resp3.classList.remove('check')
    event.target.classList.add('check')
}

function count(out){
    var time = 15
    var myInterval = setInterval(() => {
        render_static(out, time)
       time--
       if(time === -1){
           clearInterval(myInterval)
       }
    },1000)
    if(myInterval === 0){
        return 'fim'
    }
}

function render(entry, out){
    out.appendChild(entry)
}

function render_static(out, text){
    out.innerHTML = text
}

function get_elements_in_dom(){

    var timer_element = document.querySelector('#time')
    var question_title_element = document.querySelector('#title_question')
    var answer_1 = document.querySelector('#resposta1')
    var answer_2 = document.querySelector('#resposta2')
    var answer_3 = document.querySelector('#resposta3')
    var resp = document.querySelector('#responser')
    var pass = document.querySelector('#passar')
    var help = document.querySelector('#help')
    var group_element = document.querySelector('#group_game')
    var correct_1 = document.querySelector('#correct_1')
    var error_1 = document.querySelector('#erro_1')
    var correct_2 = document.querySelector('#correct_2')
    var erro_2 = document.querySelector('#erro_2')


    return {

        [timer_element.getAttribute('name')] : timer_element,
        [question_title_element.getAttribute('name')] : question_title_element,
        [answer_1.getAttribute('name')] : answer_1,
        [answer_2.getAttribute('name')] : answer_2,
        [answer_3.getAttribute('name')] : answer_3,
        [resp.getAttribute('name')] : resp,
        [pass.getAttribute('name')] : pass,
        [help.getAttribute('name')] : help,
        [group_element.getAttribute('name')]: group_element,
        [correct_1.getAttribute('name')] : correct_1,
        [error_1.getAttribute('name')] : error_1,
        [correct_2.getAttribute('name')] : correct_2,
        [erro_2.getAttribute('name')] : erro_2
    }
}

</script>
</body>
</html>