<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="../public/css/style7.css">
    </head>
    <body>
        <nav class="menu-prof">
            <ul>
                <h1 class="h1-logo">Jogo Passa ou Repassa Web</h1>
                <li>
                    <a href="">Seja Bem Vindo(a)!</a>
                </li>
                <a href="index.html">
                    <button id="sair" class="btn btn-sair-principal">Sair</button>
                </a>
                <a href="minhasAtividades.html">
                    <button id="sair" class="btn btn-sair-principal">Minhas
                        atividades</button>
                </a>
            </ul>
        </nav>
        <div style="text-align: center; margin-top: 20px;">
           <h1>Minhas atividades</h1>
           <h1> <ul style="margin-top: 30px;" class="activityes">

            </ul>
        </h1>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../public/js/my_activityes.js" type="module"></script>
    </body>
</html>